

:root {
  --white: #FFFFFF;
  --black: #000000;
  --bgcolor1: #161617;
  --bgcolor2: #1E1E1E;
  --bgcolor3: #1a1d24;
  --color1: #E9EBF0;
  --color2: #CA3E47;
  --color3: #29A19C;
  --color4: #3c3f43;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--bgcolor1);
}

.monaco-editor, .monaco-editor .overflow-guard {
  height: 100% !important;
}

.button{
  transition: 0.2s;
}
.button:hover {
  filter: brightness(1.4);
}
.button:active {
  transform: scale(0.9);
}