:root {
  --white: #FFFFFF;
  --black: #000000;
  --bgcolor1: #161617;
  --bgcolor2: #1e1e1e;
  --bgcolor3: #101011;
  --color1: #E9EBF0;
  --color2: #CA3E47;
  --color3: #29A19C;
  --color4: #3c3f43;
  --cyan:  #00BCD4;
}
html {
  min-height: 100%;
  position:relative;
}
body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-image: linear-gradient(var(--black), var(--bgcolor1));
}
#root {
  height: 100%;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

.monaco-editor, .monaco-editor .overflow-guard {
  height: 100% !important;
}

p {
  font-size: medium;
}

.rs-input {
  background-color: var(--bgcolor3);
}