.paneContainer {
  width: 100%;
  height: 100%;
  background-color: var(--bgcolor1);
  display: flex;
  overflow: hidden;
  flex: 1;
}

.reflexContainer {
  height: auto;
}

.reflexElement {
  display: flex;
  overflow-y: hidden !important;
  flex-direction: column;
  flex-wrap: nowrap;
}

.reflexElement {
  overflow-y: visible !important;
}

.editorTitleContainer {
  display: flex;
}
.editorTitle {
  background-color: var(--bgcolor2);
  padding: 2px 12px;
  color: var(--white);
  overflow-x: hidden;
}

.reflexSplitter {
  width: auto !important;
  border: none !important;
  background-color: var(--color1) !important;
  color: var(--black);
}

.reflexHandle {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 8px 2px;
  font-size: 14px;
}


.previewContainer {
  padding: 12px;
  height: 100%;
}

.preview {
  border: none;
  width: 400px;
  height: 300px;
  pointer-events: none;
  background-color: var(--white);
}