.paneContainer {
  width: 100%;
  height: 100%;
  background-color: #8C9A9E;
}

.paneContainer .reflexElement {
  display: flex;
  overflow-y: hidden !important;
}

.reflexHandle {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.previewContainer {
  padding: 12px;
}

.preview {
  border: none;
  width: 400px;
  height: 300px;
  pointer-events: none;
  background-color: white;
}