.contentContainer {
  flex: 1;
  background-image:  radial-gradient(#ffffff30 0.5px, transparent 0.5px), radial-gradient(#ffffff30 0.5px, transparent 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}

.formContainer {
  padding: 2rem;
  border: 1px solid var(--color4);
  border-radius: 8px;
  background-color: var(--bgcolor1);
}

.formContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}